.global-search-results-table {
	position: absolute;
	padding-inline: var(--db-spacing-fixed-md);
	height: 100%;

	&__cell-content {
		display: flex;
		position: relative;
	}

	.table-head {
		position: sticky;
		top: 0;
		z-index: 1;
		white-space: nowrap;
	}

	p {
		display: inline-block;
		vertical-align: middle;

		&:first-child,
		&:last-child {
			margin: 0;
		}
	}
}
