@use '@db-ux/core-foundations/build/styles/variables';

.graph-options {
	display: flex;
	flex-direction: column;
	gap: var(--db-spacing-fixed-xs);

	&__presentation-label {
		label {
			padding-left: 24px;
		}
	}
}
