@use '@db-ux/core-foundations/build/styles/variables';

.graph-options {
	display: flex;
	flex-direction: column;
	gap: var(--db-spacing-fixed-md);

	.db-select {
		max-inline-size: 210px;
	}

	&__grassfile_management {
		display: flex;
		align-items: end;
		gap: var(--db-spacing-fixed-sm);
	}
}
