@mixin hide-editing-buttons {
	.edit-save-buttons__buttons {
		display: none;
	}
}

@mixin show-editing-buttons {
	.edit-save-buttons__buttons {
		display: block;
	}
}

@mixin show-editing-buttons {
	.edit-save-buttons__buttons {
		display: block;
	}
}

// note: allow only one section to be editable at the time
.edit-save-block {
	&--edit-mode {
		outline: var(--db-border-width-2xs) solid #1d4a6a;
		outline-offset: -2px;
		border-radius: var(--db-border-radius-sm);

		&::after {
			border-color: transparent !important;
		}

		~ .edit-save-block {
			details[open] {
				@include hide-editing-buttons;
			}
		}
	}

	&--small {
		padding-left: var(--db-spacing-fixed-3xs);
		margin-left: var(--db-spacing-fixed-none);

		details{
			
			summary{
				margin: var(--db-spacing-fixed-none);
				font-size: x-small;
				font-style: normal;
				color: var(--db-on-bg-color-emphasis-90);
				padding: var(--db-spacing-fixed-3xs);
			}
			div{
				font-size: small;
				padding-top: var(--db-spacing-fixed-none) !important;
				padding-left: var(--db-spacing-fixed-xs) !important;
				padding-right: var(--db-spacing-fixed-3xs) !important;
				padding-bottom: var(--db-spacing-fixed-3xs) !important;
			}
		}
		
	}

	&:has(~ .edit-save-block--edit-mode) {
		details[open] {
			@include hide-editing-buttons;
		}
	}

	@include hide-editing-buttons;

	details[open] {
		@include show-editing-buttons;
	}
}
