.global-search {
	$this: &;
	flex-grow: 1;
	position: relative;
	z-index: 2;
	height: max-content;

	&__input {
		flex-grow: 1;

		&:hover {
			#{$this}__icon {
				opacity: 1;
				color: var(--db-brand-origin-enabled);
			}
		}

		label {
			display: none;
		}

		input {
			padding-right: 30px;
			font-family: monospace;
		}

		.db-textarea {
			textarea {
				background-color: var(--db-neutral-bg-basic-level-3-default);

				// override semi-transparent background-color on hover
				&:hover {
					background-color: var(--db-neutral-bg-basic-level-3-default);
				}
			}
		}
	}
}
