@use '../../NetworkGraph.variables';

#{NetworkGraph.$network-graph-root-element-selector} {
	&__search {
		position: relative;

		&-list {
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
			z-index: 2;
			max-height: 200px;
			background-color: var(--db-adaptive-bg-basic-level-1-default);
			margin: 0;
			border-radius: var(--db-border-radius-xs);
			overflow: auto;
		}

		&-list-option {
			cursor: pointer;

			&:hover {
				text-decoration: underline;
			}
		}

		.db-input {
			input {
				background-color: var(--db-neutral-bg-basic-level-3-default);

				// override semi-transparent background-color on hover
				&:hover {
					background-color: var(--db-neutral-bg-basic-level-3-default);
				}
			}
		}
	}
}
