@layer table-cell {
	.table-cell {
		display: table-cell;
		padding: 2px 15px;
		border-bottom: 1px solid var(--db-adaptive-on-bg-basic-emphasis-60-default);

		&__auto {
			width: max-content;
		}

		&__full {
			width: 100%;
		}

		&__minimal {
			width: 1px;
		}

		&__grid-cell {
			width: auto;
			display: block;
		}
	}
}
