@font-face {
	font-family: "grapheditor-icon-font";
	src: url("grapheditor-icon-font.woff2?t=1764074535466") format("woff2");
}

.grapheditor-icon-font {
	font-family: 'grapheditor-icon-font' !important;
	font-style:normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
