.header {
	&__perspective-popover {
		> .db-popover-content {
			padding: var(--db-spacing-fixed-2xs) !important;
		}
	}

	&__perspective-card {
		border: none;

		> .db-button {
			justify-content: start;
			font-weight: 400;
		}
	}
}
