.create-perspective-dialog {
	&__content {
		margin-bottom: var(--db-spacing-fixed-lg);
	}

	&__info-text {
		margin-top: var(--db-spacing-fixed-xs);
	}

	&__description {
		margin-top: var(--db-spacing-fixed-md);
	}

	&__buttons {
		display: flex;
		justify-content: flex-end;
		column-gap: var(--db-spacing-fixed-sm);
	}
}
