.create-perspective-dialog {
	&__input {
		margin-bottom: var(--db-spacing-fixed-lg);

		.db-textarea {
			margin-top: var(--db-spacing-fixed-md);
		}
	}

	&__buttons {
		display: flex;
		justify-content: flex-end;
		column-gap: var(--db-spacing-fixed-sm);
	}
}
