.relation-type-item-finder {
	&__tag-edit {
		display: flex;
		justify-content: space-between;

		.db-button {
			visibility: hidden;
			opacity: 0;
			transition: opacity 0.2s ease-in-out;

			&:hover {
				visibility: visible;
				opacity: 1;
			}
		}

		&:hover .db-button {
			visibility: visible;
			opacity: 1;
		}
	}

	&__relation-change {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		column-gap: var(--db-spacing-fixed-sm);
	}

	&__relation-finder {
		.db-button {
			margin-top: var(--db-spacing-fixed-xs);
			border: 1px solid var(--db-neutral-on-bg-basic-emphasis-60-default);
		}
	}

	&__relation-finder {
		width: 100%;
	}
}
