@use 'NetworkGraph.variables';
@use '@db-ux/core-foundations/build/styles/variables';

#{NetworkGraph.$network-graph-root-element-selector} {
	--sigma-controls-zindex: 1;

	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;

	&--is-loading {
		opacity: 0.4;
		pointer-events: none;
	}

	&__container {
		flex-grow: 1;
		position: relative;
		z-index: 1;
		overflow: hidden;

		&--hide {
			visibility: hidden;
		}
	}

	&__top-widget {
		margin-bottom: 5px;
	}

	// sigma layers elements order
	// https://www.sigmajs.org/docs/advanced/layers
	.sigma-edges {
		z-index: 0;
	}
	.sigma-edgeLabels {
		z-index: 10;
	}
	.sigma-nodes {
		z-index: 20;
	}
	.sigma-labels {
		z-index: 30;
	}
	.sigma-hoverNodes {
		z-index: 40;
	}
	.sigma-hovers {
		z-index: 50;
		opacity: 0;
	}
	.sigma-mouse {
		z-index: 60;
	}
}
