.relation-type-changer {
	&__relation-change {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		column-gap: var(--db-spacing-fixed-sm);
	}

	&__relation-finder {
		.db-button {
			margin-top: var(--db-spacing-fixed-xs);
			border: 1px solid var(--db-neutral-on-bg-basic-emphasis-60-default);
		}
	}

	&__relation-finder {
		width: 100%;
	}
}
