@use '@db-ux/core-foundations/build/styles/variables';

.header-graph-options {
	margin-left: var(--db-spacing-fixed-md);
	margin-right: var(--db-spacing-fixed-md);
	display: flex;
	gap: var(--db-spacing-fixed-xs);

	&__presentation-label {
		label {
			padding-left: 24px;
		}
	}
}
