.tab-panel {
	// .db-tab-panel has "display:none" by default, and "display:block" once
	// its radio is checked. In order to prevent long CSS overrides (.db-tab-panel
	// visibility in version 0.5.1 is controlled by CSS, check node_modules/frontend/node_modules/@db-ui/components/build/components/tabs/tabs.css#L180)
	// we used an internal wrapper for tab panel content

	&__content-wrapper {
		display: flex;
	}

	&__content {
		flex-grow: 1;
	}

	.db-input,
	.db-select {
		input,
		select {
			background-color: var(--db-adaptive-bg-basic-level-1-default);
		}
	}

	&__close {
		cursor: pointer;
	}
}

.db-tabs > .db-tab-panel {
	padding: var(--db-spacing-fixed-xs) var(--db-spacing-fixed-md);
}
