.items-drawer {
	position: absolute;
	height: auto;
	inset: 0 0 0 auto;
	inline-size: 420px;
	z-index: 2;

	&__content {
		height: 100%;
	}

	&__header-content {
		display: flex;
		align-items: center;
		justify-content: end;

		.breadcrumbs {
			padding: var(--db-spacing-fixed-xs) var(--db-spacing-fixed-sm) var(--db-spacing-fixed-sm) 0
		}
	}
}
