@use '@db-ux/core-foundations/build/styles/variables';

// the #items-drawer selector selects the DBDrawer root element, the .items-drawer
// its first child element
#items-drawer {
	position: absolute;
	height: auto;
	background-color: transparent;
	inset: 0 0 0 auto;

	.items-drawer {
		block-size: auto;
		min-inline-size: min-content !important;
		transform: none !important;
		position: relative;
		height: 100%;

		.db-drawer-header {
			padding: var(--db-spacing-fixed-xs) var(--db-spacing-fixed-md) !important;
		}
	}
}

.items-drawer {
	--db-drawer-max-width: 578px;

	&--collapsed {
		max-inline-size: 30px !important;

		.db-drawer-content,
		.button-close-drawer,
		.items-drawer__header-content {
			display: none;
		}
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__content {
		height: 100%;
	}

	&__header-content {
		padding: var(--db-spacing-fixed-sm) var(--db-spacing-fixed-sm) var(--db-spacing-fixed-sm) 0;
		height: 100%;
	}

	.db-drawer-header {
		.db-drawer-header-text {
			width: 100%;
		}
	}

	> .db-drawer-content {
		overflow: auto;
		height: 100%;
	}

	.db-section {
		padding-inline: 0;
	}
}
