.modal {
	width: 100%;
	height: 100%;
	max-width: 100%; // override user-agent style
	max-height: 100%; // override user-agent style
	z-index: 9999;
	background-color: rgba(0, 0, 0, 0.4);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: var(--db-spacing-fixed-lg);

	&--no-backdrop {
		background-color: transparent;

		&::backdrop {
			background-color: transparent;
		}
	}

	&__content {
		padding: var(--db-spacing-fixed-lg) !important;
		max-width: 500px;
	}

	&__header {
		&:empty {
			display: none;
		}
	}

	&__header-title {
		display: flex;
		align-items: center;
		justify-content: space-between;

		> h3 {
			margin: 0;
		}
	}

	&__header-info {
		display: flex;
		align-items: start;
		column-gap: var(--db-spacing-fixed-sm);
		margin: var(--db-spacing-fixed-lg) 0;

		> p {
			margin: 0 0 var(--db-spacing-fixed-2xs) 0;
		}
	}
}
