.confirmation-modal {
	&__buttons {
		display: flex;
		justify-content: right;
		gap: var(--db-spacing-fixed-md);
	}

	.modal__content {
		width: 500px;
		max-height: 600px;
		overflow-y: auto;
	}

	.modal__inner-content {
		display: flex;
		flex-direction: column;
		gap: var(--db-spacing-fixed-lg);
	}

	&__title {
		font-weight: 300;
		margin: 0;
	}

	&__description {
		display: flex;
		gap: var(--db-spacing-fixed-xs);
		// respect newline characters
		white-space: pre-line;
	}
}
