.parallax-filters {
	p {
		display: flex;
		column-gap: var(--db-spacing-fixed-xs);
		margin: 0;
	}

	&__content {
		margin-left: 5px;

		.db-custom-select-dropdown {
			inset-inline-start: auto !important;
			inset-block-start: auto !important;
		}
	}

	&__filter {
		display: flex;
		flex-direction: column;
		font-size: 12px;

		&:not(:last-child) {
			margin-bottom: 5px;
		}

		.db-input {
			width: 90%;

			label {
				padding: 0;
				font-size: 12px;
			}
		}
	}

	&__filters {
		display: flex;
		flex-direction: column;
		margin-top: var(--db-spacing-fixed-md);
	}

	&__buttons {
		display: flex;
		column-gap: var(--db-spacing-fixed-sm);
		justify-content: end;
		margin-top: var(--db-spacing-fixed-md);
	}
}
