.tooltip {
	text-align: left;
	background-color: var(--db-adaptive-bg-basic-level-1-default);

	// make db-tooltip visible all the time,
	// the parent element will be shown/hidden
	> .db-tooltip {
		position: relative;
		inset-block-end: auto;
		visibility: visible;
		display: block;
		user-select: text;
		--db-popover-center-x: 0 !important;
		inset-inline-start: 0 !important;
		border-radius: var(--db-border-radius-sm) !important;
	}
}
