.node-labels-item-finder {
	&__tags {
		display: flex;
		justify-content: space-between;

		.node-labels-item-finder__edit-button-and-checkbox {
			visibility: hidden;
			opacity: 0;
			transition:
				visibility 0s,
				opacity 0.5s ease;
		}

		&:hover {
			.node-labels-item-finder__edit-button-and-checkbox {
				visibility: visible;
				opacity: 1;
				transition: opacity 0.5s ease;
			}
		}
	}

	&__newly-added {
		> .db-checkbox {
			border: var(--db-border-width-3xs) solid
				var(--db-adaptive-on-bg-basic-emphasis-100-default);
			border-radius: var(--db-border-radius-xs);
		}
	}

	&__head {
		display: flex;
		gap: 5px;
	}

	&__labels {
		display: flex;
		gap: var(--db-spacing-fixed-sm);
		flex-wrap: wrap;

		.db-checkbox {
			input {
				background-color: transparent;

				&:hover {
					background-color: transparent;
				}
			}
		}
	}

	&__itemfinder {
		margin-top: var(--db-spacing-fixed-xs);
	}

	&__tags-edit-mode {
		border: 1px solid var(--db-adaptive-on-bg-basic-emphasis-60-default) !important;
		gap: 0;

		label {
			border: none !important;
		}
	}

	&__normal-border {
		.db-checkbox {
			border-radius: var(--db-border-radius-xs);

			> label {
				border: var(--db-border-width-3xs) solid
					var(--db-adaptive-on-bg-basic-emphasis-100-default);

				&:has(input:checked) {
					border-color: var(--db-adaptive-bg-inverted-contrast-high-default);
				}
			}
		}
	}

	&__highlighted-border {
		border-color: var(--db-informational-on-bg-basic-emphasis-70-pressed);
		outline: var(--db-border-width-2xs) solid var(--db-cyan-on-bg-basic-emphasis-80-default);
		.db-checkbox {
			> label {
				border-color: transparent !important;

				&:has(input:checked) {
					background-color: var(--db-cyan-on-bg-basic-emphasis-80-default);
				}
			}
		}
	}

	.db-checkbox {
		> label {
			color: var(--db-adaptive-on-bg-basic-emphasis-100-default);
		}
	}
}
