.login-form {
	display: flex;
	min-height: 100dvh;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	&__form {
		min-width: 400px;
		margin: 0;
	}

	&__logo {
		max-width: 100px;
		max-height: 100px;
		width: auto;
		height: auto;
		display: block;
	}

	label {
		max-inline-size: none;
	}
}
