.header {
	&__select {
		min-inline-size: 75px;
		margin: 0 var(--db-spacing-fixed-sm);
	}

	&__control-line {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		margin-bottom: var(--db-spacing-fixed-md);

		> div {
			display: flex;
			align-items: center;
		}
	}

	&__divider {
		margin: 0 var(--db-spacing-fixed-lg) !important;
		height: 24px;
	}

	&__search-button {
		font-weight: 400;
	}
}
