@use '../../NetworkGraph.variables';

#{NetworkGraph.$network-graph-root-element-selector} {
	&__font-size-title {
		padding: var(--db-type-body-xl) !important;
		display: flex;
		justify-content: space-between;
		font: var(--db-type-body-xs);
	}

	&__font-size-content {
		padding-top: var(--db-spacing-fixed-xs);
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		gap: var(--db-spacing-fixed-md);

		input {
			flex-grow: 1;
			cursor: pointer;
		}
	}
}
