.parallax-next-steps {
	&--collapsed {
		.db-drawer-content {
			display: none;
		}
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__table {
		width: 100%;

		.table-cell {
			padding-top: var(--db-spacing-fixed-xs);
			padding-bottom: var(--db-spacing-fixed-xs);
			vertical-align: middle;

			[data-icon]:is(span) {
				vertical-align: middle;
			}

			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3) {
				width: 50px;
			}

			&:nth-child(1) {
				input {
					margin: 0;
				}
			}
		}
	}

	.button-close-drawer {
		display: none;
	}

	.db-drawer-content {
		padding: var(--db-spacing-fixed-md) !important;
		inline-size: 300px;
	}
}
