.single-node {
	&__header-namespace {
		text-overflow: ellipsis;
		min-width: 0;
	}

	&__pseudo-node-warning {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 15px;
		margin-bottom: 20px;
		border: 4px solid var(--db-warning-bg-inverted-contrast-high-default);
	}
}
