.left-widget {
	.db-drawer {
		height: 100%;
		overflow: visible;

		&[data-backdrop] {
			position: static;
		}

		&[open] {
			.db-drawer-container {
				animation: none;

				&:not([data-width='full']) {
					max-inline-size: none;
				}
			}
		}

		.db-drawer-container {
			position: static;

			.db-drawer-content {
				overflow-y: visible;
			}
		}

		.button-close-drawer {
			display: none;
		}
	}

	&--collapsed {
		.db-drawer-content {
			display: none;
		}
	}

	.db-drawer-content {
		padding: var(--db-spacing-fixed-md) !important;
		inline-size: 300px;
		block-size: 100%;

		> .db-accordion {
			> .db-accordion-item {
				> details {
					> div {
						display: flex;
						flex-direction: column;
						gap: var(--db-spacing-fixed-md);
						overflow: visible;
					}
				}
			}
		}
	}
}
