.left-widget {
	.sidebar {
		> .db-accordion {
			> .db-accordion-item {
				> details[open] {
					> div {
						display: flex;
						flex-direction: column;
						gap: var(--db-spacing-fixed-md);
						overflow: visible !important;
					}
				}
			}
		}
	}
}
