@use "sass:meta";
/*
	************************************************************************************
						GENERAL Styles for our project
	************************************************************************************
*/
@forward "../icons/index.css";
@forward "./db-tooltip-fix";

@layer db-ux-core-components {
	@include meta.load-css('@db-ux/core-components/build/styles/rollup.scss');
}

@layer main {
	:root {
		--db-icon-font-family: 'grapheditor-icon-font';
	}

	#root {
		min-height: 100dvh;
	}

	select,
	button {
		cursor: pointer;
	}

	@media screen and (min-width: 64em) {
		.db-section:not([data-force-mobile]) {
			padding-inline: 0;
		}
	}
}
