// styling for single-node and single-relation components

.single-item {
	display: grid;
	height: 100%;
	grid-template-rows: auto 1fr;

	&__header {
		box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.2);
	}

	&__header-id {
		display: flex;
		align-items: center;
		column-gap: var(--db-spacing-fixed-md);
		min-width: 0;
		padding: var(--db-spacing-fixed-xs) var(--db-spacing-fixed-md);

		p {
			margin: var(--db-spacing-fixed-3xs);
		}
	}

	&__header-headline {
		color: var(--db-adaptive-on-bg-basic-emphasis-90-default);
		font: var(--db-type-body-xs);
	}

	&__header-content {
		font: var(--db-type-body-md);
		position: relative;
		display: inline-flex;
		align-items: center;
		justify-content: center;

		// temporary solution until the tooltip component is fixed with ticket: https://github.com/db-ux-design-system/core-web/issues/4451
		> .db-tooltip {
			position: absolute !important;
			max-width: 300px !important;
			inset-inline: auto !important;
			inset-block: auto !important;
			transform: translate(0, 100%) !important;
		}
	}

	&__title {
		display: flex;
		align-items: center;
		column-gap: 5px;
		padding: var(--db-spacing-fixed-3xs) var(--db-spacing-fixed-sm);
		margin-bottom: var(--db-spacing-fixed-sm);
	}

	&__title-title {
		width: max-content;
		font-size: var(--db-type-headline-font-size-3xs);
		font-weight: bold;
		margin: var(--db-spacing-fixed-3xs);
		position: relative;
		display: inline-flex;
		align-items: center;
		justify-content: center;

		// temporary solution until the tooltip component is fixed with ticket: https://github.com/db-ux-design-system/core-web/issues/4451
		> .db-tooltip {
			position: absolute !important;
			inset-inline: auto !important;
			inset-block: auto !important;
			transform: translate(0, 100%) !important;
		}

		&:after {
			content: '';
			position: absolute;
			background-color: var(--db-brand-origin-default);
			border-radius: 10px;
			width: 100%;
			height: 3px;
			bottom: -5px;
			left: 0;
		}
	}

	&__description {
		word-break: break-word;
	}

	.db-accordion {
		padding: var(--db-spacing-fixed-md) 0;
		overflow: auto;

		.db-accordion-item {
			&[open] summary + div {
				animation: none;
			}

			> details > summary + div {
				overflow: visible;
			}
		}
	}
}
